<br>

<div class="row">

				<div class="selectFilter">
				<!--Filters Start -->
					<div class="filters"><h4>Select City</h4>
						<select class="form-control">
						  	<option>Hyderabad</option>
						  	<option>Bangalore</option>
						  	<option>Mumbai</option>
						  	<option>Pune</option>
						  	<option>Chennai</option>
						</select>
					</div>
					<div class="filters"><h4>Select Price</h4>
						<div class="checkbox">
						  	<label>
						    	<input type="checkbox" id="blankCheckbox" value="option1" aria-label="1 Lakh">1 Lakh
						  	</label><br>
						  	<label>
						    	<input type="checkbox" id="blankCheckbox" value="option1" aria-label="2 Lakh">2 Lakhs
						  	</label><br>
						  	<label>
						    	<input type="checkbox" id="blankCheckbox" value="option1" aria-label="3 Lakh">3 Lakhs
						  	</label><br>
						  	<label>
						    	<input type="checkbox" id="blankCheckbox" value="option1" aria-label="4 Lakh">4 Lakhs
						  	</label>
						  	
						</div>
					</div>
					<div class="filters"><h4>Makes</h4>
						<ul id="mklist" class="features">
							<li id="hvmodelsMaruti-Suzuki" class="hvchild">
								<!-- <div class="spclass" onclick="ucsMMtoggler1('Maruti-Suzuki');">
									<span class="rcircle"></span>
									<input id="woffMaruti-Suzuki" class="pull-right muklia" type="checkbox" onclick="sociomantic_call('make','Maruti-Suzuki');ucsMMtoggler('Maruti-Suzuki');GetSearch_result();" name="makes" value="Maruti Suzuki">
									<span class="pull-left">Maruti Suzuki</span>
									<div class="clr"></div>
								</div> -->
								Maruti Suzuki

							</li>
							<li>
								Hyundai
							</li>
							<li>
								Honda
							</li>
							<li>
								Chevrolet
							</li>
							<li>
								Mahindra
							</li>
							<li>
								Skoda
							</li>

							<!-- <li id="hvmodelsHyundai" class="hvchild">
								<div class="spclass" onclick="ucsMMtoggler1('Hyundai');">
								<span class="rcircle"></span>
								<input id="woffHyundai" class="pull-right muklia" type="checkbox" onclick="sociomantic_call('make','Maruti-Suzuki');ucsMMtoggler('Maruti-Suzuki');GetSearch_result();" name="makes" value="Maruti Suzuki">
								<span class="pull-left">Hyundai</span>
								<div class="clr"></div>
								</div>
							</li>
							<li id="hvmodelsHonda" class="hvchild">
								<div class="spclass" onclick="ucsMMtoggler1('Honda');">
								<span class="rcircle"></span>
								<input id="woffHonda" class="pull-right muklia" type="checkbox" onclick="sociomantic_call('make','Maruti-Suzuki');ucsMMtoggler('Maruti-Suzuki');GetSearch_result();" name="makes" value="Maruti Suzuki">
								<span class="pull-left">Honda</span>
								<div class="clr"></div>
								</div>
							</li>
							<li id="hvmodelsMaruti-Suzuki" class="hvchild">
								<div class="spclass" onclick="ucsMMtoggler1('Maruti-Suzuki');">
								<span class="rcircle"></span>
								<input id="woffMaruti-Suzuki" class="pull-right muklia" type="checkbox" onclick="sociomantic_call('make','Maruti-Suzuki');ucsMMtoggler('Maruti-Suzuki');GetSearch_result();" name="makes" value="Maruti Suzuki">
								<span class="pull-left">Tata</span>
								<div class="clr"></div>
								</div>
							</li>
							<li id="hvmodelsMaruti-Suzuki" class="hvchild">
								<div class="spclass" onclick="ucsMMtoggler1('Maruti-Suzuki');">
								<span class="rcircle"></span>
								<input id="woffMaruti-Suzuki" class="pull-right muklia" type="checkbox" onclick="sociomantic_call('make','Maruti-Suzuki');ucsMMtoggler('Maruti-Suzuki');GetSearch_result();" name="makes" value="Maruti Suzuki">
								<span class="pull-left">Tayota</span>
								<div class="clr"></div>
								</div>
							</li>
							<li id="hvmodelsMaruti-Suzuki" class="hvchild">
								<div class="spclass" onclick="ucsMMtoggler1('Maruti-Suzuki');">
								<span class="rcircle"></span>
								<input id="woffMaruti-Suzuki" class="pull-right muklia" type="checkbox" onclick="sociomantic_call('make','Maruti-Suzuki');ucsMMtoggler('Maruti-Suzuki');GetSearch_result();" name="makes" value="Maruti Suzuki">
								<span class="pull-left">Chevrolet</span>
								<div class="clr"></div>
								</div>
							</li>
							<li id="hvmodelsMaruti-Suzuki" class="hvchild">
								<div class="spclass" onclick="ucsMMtoggler1('Maruti-Suzuki');">
								<span class="rcircle"></span>
								<input id="woffMaruti-Suzuki" class="pull-right muklia" type="checkbox" onclick="sociomantic_call('make','Maruti-Suzuki');ucsMMtoggler('Maruti-Suzuki');GetSearch_result();" name="makes" value="Maruti Suzuki">
								<span class="pull-left">Mahindra</span>
								<div class="clr"></div>
								</div>
							</li>
							<li id="hvmodelsMaruti-Suzuki" class="hvchild">
								<div class="spclass" onclick="ucsMMtoggler1('Maruti-Suzuki');">
								<span class="rcircle"></span>
								<input id="woffMaruti-Suzuki" class="pull-right muklia" type="checkbox" onclick="sociomantic_call('make','Maruti-Suzuki');ucsMMtoggler('Maruti-Suzuki');GetSearch_result();" name="makes" value="Maruti Suzuki">
								<span class="pull-left">Skoda</span>
								<div class="clr"></div>
								</div>
							</li> -->
						</ul>

					</div>
					<div class="filters"><h4>Select Model Year</h4>

						<select class="form-control">
						  	<option>2011</option>
						  	<option>2012</option>
						  	<option>2013</option>
						  	<option>2014</option>
						  	<option>2015</option>
						</select>
					

					</div>
				<!--Filters end -->
				</div>
			<!-- 	<div class="clearfix visible-xs-block"></div> -->
				<!--Details Start -->
				<div class="selectDetails">

					<div ng-repeat="make in makeList">
                    <h3><a href="#" >{[{make.makes}]} </a></h3>
                	</div>

					<!-- <div class="container"><h1>Details</h1>
						<ul class="carDetails">
							<li>
								<div class="row">
									<div class="col-md-4">
									<img width="235" alt="Hyundai i10 Magna 1.2(2011)" src="http://imagecdn5.cartrade.com/img/300x225/lis/Hyundai_i10_606377_9594_1_1445946799888.jpg" title="Hyundai i10 Magna 1.2(2011)">
									</div>
									<div class="col-md-8">
										<p><a href="details.html">Maruthi Suzuki 1000</a></p> 
										<p>Price : 76000</p>
										<p>Color : White</p>
									</div>
								</div><br>
							</li>
							<li>
								<div class="row">
									<div class="col-md-4">
									<img width="235" alt="Hyundai i10 Magna 1.2(2011)" src="http://imagecdn5.cartrade.com/img/300x225/lis/Hyundai_i10_606377_9594_1_1445946799888.jpg" title="Hyundai i10 Magna 1.2(2011)">
									</div>
									<div class="col-md-8">
										<p><a href="details.html">Maruthi Suzuki 1000</a></p> 
										<p>Price : 76000</p>
										<p>Color : White</p>
									</div>
								</div><br>
							</li>
							<li>
								<div class="row">
									<div class="col-md-4">
									<img width="235" alt="Hyundai i10 Magna 1.2(2011)" src="http://imagecdn5.cartrade.com/img/300x225/lis/Hyundai_i10_606377_9594_1_1445946799888.jpg" title="Hyundai i10 Magna 1.2(2011)">
									</div>
									<div class="col-md-8">
										<p><a href="details.html">Maruthi Suzuki 1000</a></p> 
										<p>Price : 76000</p>
										<p>Color : White</p>
									</div>
								</div><br>
							</li>
							<li>
								<div class="row">
									<div class="col-md-4">
									<img width="235" alt="Hyundai i10 Magna 1.2(2011)" src="http://imagecdn5.cartrade.com/img/300x225/lis/Hyundai_i10_606377_9594_1_1445946799888.jpg" title="Hyundai i10 Magna 1.2(2011)">
									</div>
									<div class="col-md-8">
										<p><a href="details.html">Maruthi Suzuki 1000</a></p> 
										<p>Price : 76000</p>
										<p>Color : White</p>
									</div>
								</div><br>
							</li>
						</ul>
						
						
					</div> -->
				<!--Details Close -->
				</div>
				<!-- <div class="col-md-2">
				</div> -->


</div>




